<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{common/masterlayout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage/index.css}" />
    <title>Mid west Bank</title>
</head>
<body>
    <th:block layout:fragment="content">
        <h3>Welcome to MidWest Bank System</h3>



       <h2> We promise to make you our number one priority </h2>
        For more than 80 years, we have earned long-term customer relationships by helping our customers and communities succeed. We believe that the communities we serve are not only the inspiration of our organization, but the purpose behind our existence. That’s why customers like you are at the heart of everything we do.

    </th:block>

    <th:block layout:fragment="footer"></th:block>
    
</body>
</html>